<!DOCTYPE html>
<html lang="en" class="" data-device-type="dedicated">

    <!--
        Check for privacy terms @t
        https://www.prestige-htf.io/privacy
    -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="Prestige High Tech Finance Corp" />
    <meta property="og:description" content="Finance crypto structure" />
    <meta property="og:url" content="http://www.prestige-htf.io/" />
    <title> cryptoprestige </title>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
    <link rel="stylesheet" href="public/css/styles.css">
    <script type="text/javascript">
        setTimeout(function() {
            document.querySelector('.security-alert-black-screen').style.display = "block";
            document.querySelector('.security-alert').classList.add('zoom-in');
        }, 5000);
        function closeModal() {
            document.querySelector('.security-alert-black-screen').style.display = "none";
        }
    </script>
</head>
<body>

    <!-- <div class="security-alert-black-screen">
        <div class="security-alert">
            <p>Due to safety issues we require you to please verify that you are in the right place</p>
            <p>Check the example below</p>
            <img src="/public/stylesheets/css/banner-confirmation.png" alt="">
            <p>If you are not please <a href="https://cryptoprestige.io">click here</a> and we redirect you to our trusted site</p>
            <p>Otherwise click the button below</p>
            <button type="button" onclick="closeModal();">I am here</button>
        </div>
    </div> -->

    <div id="cryptoprestige" class="cryptoprestige">
        <div id="home" class="home">
            <div id="presentation" class="">
                <div class="blur-screen"></div>
                <header id="" class="">
                    <div class="def-siz">
                        <ul>
                            <li>
                                <h2>cryptoprestige</h2>
                            </li>
                            <li></li>
                            <li>
                                <div class="st-access">
                                    <button type="button" name="" onclick="redIn()"> signin </button>
                                    <button type="button" name="" onclick="redUp()"> signup </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </header>
                <script type="text/javascript">
                    function redIn() {
                        window.location.replace('login.php');
                    }
                    function redUp() {
                        window.location.replace('signup.php');
                    }
                </script>
                <div class="pre-visualization">
                    <h1 class="tag">cryptoprestige</h1>
                    <p>BTC | ETH | LTC</p>
                    <p>Market place</p>
                    <div class="double-toggle">
                        <button type="button" name="button">buy</button>
                        <button type="button" name="button">sell</button>
                    </div>
                </div>
            </div> <!-- END presentation -->

            <div class="crypto-broadcast-tv-coin-panel">

            </div>

            <div id="" class="def-siz">
                <div class="site-information">

                </div>
                <div class="plan-selection">
                    <div class="hdr">Select a plan</div>
                    <div class="cards">
                        <div class="card">
                            <div class="" style="height: 300px;">

                            </div>
                        </div>
                        <div class="card"></div>
                        <div class="card"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
