<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Cryptoprestige | Signup </title>

    <link rel="stylesheet" href="../static/css/form.css">

</head>
<body>

    <div id="app--startup__">

        <div class="__cluster">
            <div class="__form--fields-env">
                <div class="__header--dir"></div>
                <div class="__form--fields">
                    <form action="/signup" method="POST" enctype="multipart/form-data">

                        <div class="stage_1">
                            <h2> Sign up </h2>
                            <div class="__read-first">
                                Already a CyptoPrestige member? <a href="login">Sign in here</a>
                            </div>
                            <div class="__input--group">
                                <label for="fullname"> Full name </label>
                                <input type="text" class="" name="fullname" id="fullname" autocomplete="off" value="">
                            </div>
                            <div class="__input--group">
                                <label for="email"> Email address </label>
                                <input type="email" class="" name="email" id="email" value="">
                            </div>
                            <div class="__input--group">
                                <label for="telegram_username"> Telegram username </label>
                                <input type="text" class="" name="telegram_username" id="telegram_username" autocomplete="off" value="">
                            </div>
                            <div class="__input--group">
                                <label for=""> Phone number </label>
                                <input type="phone" class="" name="phone_number" id="phone_number" autocomplete="off" value="">
                            </div>
                            <div class="__input--group">
                                <label for="password"> Password </label>
                                <input type="password" class="" name="password" id="password" autocomplete="off" value="">
                            </div>

                            <div class="__read-first">
                                By clicking "Create account" you agree to our <a href=""> Terms of service </a> and <a href=""> Privacy policy </a>
                            </div>

                            <div class="__action">
                                <button class="primary--btn" id="__next"> create account </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="__road--env">
                <div class="__box-road-inf">
                    <div class="h-isotype">
                        Welcome to CryptoPrestige
                        <p>Signals VIP room</p>
                    </div>
                    <div class="inf">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam similique facere delectus.
                    </div>
                    <!--<div class="__road">
                        <p class="route">Sign up</p>
                        <p class="route">Account type</p>
                        <p class="route">Verify your email</p>
                        <p class="route">Address information</p>
                        <p class="route">Confirmation</p>
                    </div>-->
                </div>
            </div>
        </div>

    </div>





</body>
</html>
