#result {
    height: 36px;
    margin: 18px 0;
}

.sample {
font-weight:bold;
color:#aaa;
font-size:larger;
font-size: 12px;
position: relative;
}

.sample::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    width: 350px;
    height: 8px;
    background: #aaa;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.short{
font-weight:bold;
color:#FF0000;
font-size:larger;
font-size: 12px;
position: relative;
}

.short::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    width: 87px;
    height: 8px;
    background: #FF0000;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.weak{
height:72px;
font-weight:bold;
color:orange;
font-size:larger;
font-size: 12px;
position: relative;
}

.weak::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    width: 174px;
    height: 8px;
    background: orange;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.good{
height:72px;
font-weight:bold;
color:#2D98F3;
font-size:larger;
font-size: 12px;
position: relative;
}

.good::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    width: 261px;
    height: 8px;
    background: #2D98F3;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.strong{
height:72px;
font-weight:bold;
color: limegreen;
font-size:larger;
font-size: 12px;
position: relative;
}

.strong::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    width: 350px;
    height: 8px;
    background: limegreen;
    display: inline-block;
    transition: all .2s ease-in-out;
}
